.sprite {
    position: absolute;
    display: block;
    width: 1vw;
    height: 1vw;
    transform: translate(-50%, -6vw);
    border-radius: 50%;
    background-color: transparent; 
    cursor: pointer;
    overflow: visible;
    z-index: 5;
}

.sprite.selected {
    background-color: white;
}

.sprite:before, .sprite:after {
    content: '';
    display: block;
    position: absolute;
    top: 2vw;
    left: -1.5vw;
    width: 4vw;
    height: 4vw;
    background-color: transparent; 
    background-repeat: no-repeat;
    background-size: 12vw 16vw;
    z-index: 2;
}
.sprite:after {
    display: none;   
}

/***********************************************************
*                   persoS (+ Animations)
 ***********************************************************/
.sprite1:before {
    background-image: url(../images/sprite1.png);   
}
.sprite2:before {
    background-image: url(../images/sprite2.png);   
}
.sprite3:before {
    background-image: url(../images/sprite3.png);   
}
.sprite4:before {
    background-image: url(../images/sprite4.png);   
}
.sprite5:before {
    background-image: url(../images/sprite7.png);   
}
.sprite6:before {
    background-image: url(../images/sprite6.png);   
}
.sprite7:before {
    background-image: url(../images/sprite5.png);   
}
.sprite0:before {
    background-image: url(../images/sprite8.png);   
}

@keyframes animMarcheGauche {
    0% {    background-position: 0vw calc(-4vw - 1px);   }
    25% {   background-position: -4vw calc(-4vw - 1px);   }
    50% {   background-position: -8vw calc(-4vw - 1px);   }
    75% {   background-position: -4vw calc(-4vw - 1px);   }
    100% {    background-position: 0vw calc(-4vw - 1px);   }
}
@keyframes animMarcheDroite {
    0% {    background-position: 0vw calc(-8vw - 1px);   }
    25% {   background-position: -4vw calc(-8vw - 1px);   }
    50% {   background-position: -8vw calc(-8vw - 1px);   }
    75% {   background-position: -4vw calc(-8vw - 1px);   }
    100% {    background-position: 0vw calc(-8vw - 1px);   }
}
@keyframes animMarcheBas {
    0% {    background-position: 0vw 0vw;   }
    25% {   background-position: -4vw 0vw;   }
    50% {   background-position: -8vw 0vw;   }
    75% {   background-position: -4vw 0vw;   }
    100% {    background-position: 0vw 0vw;   }
}
@keyframes animMarcheHaut {
    0% {    background-position: 0vw calc(-12vw - 1px);   }
    25% {   background-position: -4vw calc(-12vw - 1px);   }
    50% {   background-position: -8vw calc(-12vw - 1px);   }
    75% {   background-position: -4vw calc(-12vw - 1px);   }
    100% {    background-position: 0vw calc(-12vw - 1px);   }
}

@keyframes pedalage {
    0% {
        margin-top: 0px;   
    }
    25% {
        margin-top: -1px;
    }
    75% {
        margin-top: 1px;   
    }
    100% {
        margin-top: 0px;   
    }
}
.sprite.animation:before {
    animation-duration: 0.6s;
    animation-direction: normal;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}
.sprite.marcheG:before {
    animation-name: animMarcheGauche;   
}
.sprite.marcheD:before {
    animation-name: animMarcheDroite;   
}
.sprite.marcheB:before {
    animation-name: animMarcheBas;   
}
.sprite.marcheH:before {
    animation-name: animMarcheHaut;   
}
.sprite.arretG:before {
    background-position: -4vw calc(-4vw - 1px);
}
.sprite.onbike.marcheG:before, .sprite.onbike.arretG:before {
    background-position: -0vw calc(-4vw - 1px);
}
.sprite.arretD:before {
    background-position: -4vw calc(-8vw - 1px);
}
.sprite.onbike.marcheD:before, .sprite.onbike.arretD:before {
    background-position: -0vw calc(-8vw - 1px);
}
.sprite.arretB:before, .sprite.onbike.marcheB:before {
    background-position: -4vw 0;
}
.sprite.arretH:before, .sprite.onbike.marcheH:before {
    background-position: -4vw calc(-12vw - 1px);
}

.sprite.onbike:before {
    animation-name: pedalage !important;   
    animation-duration: 0.6s !important;
}
.sprite.onbike:after {
    display: block;
    top: 3.8vw;
    left: -1.5vw;
    width: 4vw;
    height: 3.5vw;
    background-image: url(../images/sp-bicycle.png);
    background-size: 32vw 32vw;
    z-index: 1;
}
.sprite.arretH.onbike:after, .sprite.marcheH.onbike:after {
    background-position: 0 -8vw;
}
.sprite.arretB.onbike:after, .sprite.marcheB.onbike:after {
    background-position: 0 -24vw;
    z-index: 3;
}
.sprite.arretG.onbike:after, .sprite.marcheG.onbike:after {
    left: -1.7vw;
    background-position: 0 0vw;
}
.sprite.arretD.onbike:after, .sprite.marcheD.onbike:after {
    left: -1.7vw;
    background-position: 0 -16vw;
}

/****** DEBUG *****/
.debug {
    border: solid 1px red;
}


